@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 0 0% 100%;
    --secondary-foreground: 240 10% 10%;
    --popover-foreground: 240 10% 10%;
    --primary-foreground: 0 0% 100%;
    --accent-foreground: 240 10% 10%;
    --muted-foreground: 240 10% 30%;
    --card-foreground: 240 10% 10%;
    --destructive: 0 70% 50%;
    --background: 0 0% 100%;
    --foreground: 240 10% 10%;
    --secondary: 240 10% 85%;
    --popover: 0 0% 100%;
    --primary: 0 0% 0%;
    --border: 240 10% 85%;
    --accent: 240 10% 85%;
    --muted: 240 20% 89%;
    --input: 240 10% 58%;
    --card: 0 0% 100%;
    --ring: 0 0% 0%;
    --radius: 1.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

/* Add this new section for button hover effect */
@layer components {
  .btn, button, [type='button'], [type='reset'], [type='submit'] {
    @apply transition-colors duration-200;
  }

  .btn:hover, button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    @apply bg-red-600 text-white;
  }
}
